<header>
  <a name="top-page"></a>
  <div class="container_header">
    <div class="header_menu">
      <a class="header_menu-b" href="https://adalab.es">
        <i class="fa-solid fa-bars icon-b"></i>
      </a>
      <nav class="header_nav">
        <ul class="header_nav-menu">
          <li>
            <a class="header_nav-text" href="https://adalab.es" target="_blank"
              >productos</a
            >
          </li>
          <li>
            <a class="header_nav-text" href="https://adalab.es" target="_blank"
              >colecciones</a
            >
          </li>
          <li>
            <a class="header_nav-text" href="https://adalab.es" target="_blank"
              >tienda</a
            >
          </li>
          <li>
            <a class="header_nav-text" href="https://adalab.es" target="_blank"
              >inicio</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="header_logo">
      <img class="logo" src="./assets/images/logo.png" alt="Logo Open Space" />
    </div>
  </div>

  <div class="container_hero">
    <div class="hero-text">
      <h1 class="hero-title">Disfruta creando espacios</h1>
      <a class="btn-1" href="https://adalab.es"> comprar ahora</a>
    </div>
  </div>
</header>
