<main class="main">
  <section class="s1-benefits">
    <h2 class="benefits__title">
      Volverse organizado se siente mejor con
      <span class="capital">open spaces</span>
    </h2>

    <include
      src="./main-s1-benefits.html"
      benefit_icon="./assets/images/icon_1.png"
      benefit_name="Lo que necesitas"
      benefit_description="Una linea de productos diseñados para todos tus espacios"
    ></include>

    <include
      src="./main-s1-benefits.html"
      benefit_icon="./assets/images/icon_2.png"
      benefit_name="Materia primas sustentables"
      benefit_description="Todos los productos con materias primas sustentables"
    ></include>

    <include
      src="./main-s1-benefits.html"
      benefit_icon="./assets/images/icon_3.png"
      benefit_name="Guía"
      benefit_description="Soporte y asesoramiento para ayudarte con tu objetivo"
    ></include>
  </section>
  <include src="./main-s2-send.html"></include>
  <include src="./main-s3-shop.html"></include>
</main>
