@mixin text($font-size, $color, $font-weight) {
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
}

/*responsive*/
@mixin tablet {
  @media all and (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1728px) {
    @content;
  }
}
