@mixin text($font-size, $color, $font-weight) {
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
}

// @mixin title {
//   font-size: 36px;
//   font-weight: 600;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   color: $c-text-d;
// }

// @mixin subtitle {
//   font-size: 30px;
//   font-weight: normal;
//   font-style: normal;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   color: $c-text-d;
// }

// @mixin title2 {
//   font-size: 24px;
//   font-weight: normal;
//   font-style: normal;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   color: $c-text-d;
// }

// @mixin text1 {
//   font-size: 16px;
//   font-weight: normal;
//   font-style: normal;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   color: $c-text-d;
// }

// @mixin title3 {
//   font-size: 20px;
//   font-weight: normal;
//   font-style: normal;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   color: $c-text-d;
// }

// @mixin text2($color) {
//   font-size: 14px;
//   font-weight: normal;
//   font-style: normal;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   color: $c-text-d;
// }

// @mixin link {
//   list-style: none;
//   text-decoration: none;
// }

/*responsive*/
@mixin tablet {
  @media all and (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1728px) {
    @content;
  }
}
