// typeface
//  l:light
//  m:medium
//  d:dark

$color-bg-l: #f0ebe5;
$color-bg-m: #ff975a;
$color-bg-d: #0c474b;

$color-text-l: #ffffff;
$color-text-m: #b6c8c9;
$color-text-d: #0c474b;

$font-text: "Poppins", sans-serif;
