.footer {
  background-color: $c-bg-d;
  height: 100%;
  padding: 56px 28px 16px 100px;

  @include tablet {
    padding: 71px 118px 74px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  @include desktop {
  }
}

.footer__items {
  width: 208px;
  height: 100%;
  padding-bottom: 10px;
}

.footer__title {
  @include text($f-size-4, $c-text-m, $f-weight-2);
  padding: 10px 15px;

  text-align: left;
}

.footer__text {
  text-decoration: none;
  @include text($f-size-6, $c-text-m, $f-weight-1);
  padding: 0px 15px;
  text-align: left;
}

.icons {
  color: $c-text-m;
  padding-left: 15px;
  padding-top: 15px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  right: 30px;
  padding-bottom: 10px;

  @include tablet {
    right: 57px;
  }

  @include desktop {
    right: 187px;
  }
}
