.footer {
  background-color: $c-bg-m;
  height: 100%;
  padding: 56px 28px 16px 100px;
  position: relative;
  @include tablet {
    padding: 71px 118px 74px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
}

.footer_items {
  width: 208px;
  height: 100%;
  padding-bottom: 45px;
  padding-top: 45px;
}

.footer_items-title {
  @include text($f-size-4, $c-text-dd, $f-weight-2);
  padding: 10px 15px;
  text-align: left;
}

.footer_items-text {
  text-decoration: none;
  @include text($f-size-6, $c-text-dd, $f-weight-1);
  padding: 0px 15px;
  text-align: left;
}

.order {
  order: -1;
}

.footer_social {
  padding: 10px 15px;
}

.contact {
  @include tablet {
    @include text($f-size-4, $c-text-l, $f-weight-2);
  }
}
.icons {
  color: $c-text-dd;
  padding-right: 11px;
}

.arrow {
  position: absolute;
  right: 30px;
  bottom: 30px;
  @include tablet {
    right: 57px;
    bottom: 74px;
  }
  @include desktop {
    right: 187px;
  }
}

/*ANIMACION*/
.arrow-jump {
  animation: jumping 2s ease-in-out infinite;
}
.arrow-jump:hover {
  color: $c-bg-m;
}
@keyframes jumping {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -30px) scaleY(1.5);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
