header {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: url("../../assets/images/header.jpg") center center no-repeat;
  background-size: cover;
  position: relative;

  // @include tablet {
  //   background-position: 50% 0%;
  // }

  // @include desktop {
  //   background-position: 50% 50%;
  // }
}
.container_header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 19px;

  @include tablet {
    padding-top: 39px;
  }
}

.header__menu {
  position: fixed;
  left: 33px;
  @include tablet {
    left: 82px;
  }

  @include desktop {
    left: 270px;
  }
}

.menu-h {
  color: $c-bg-d;
  width: 24px;
  height: 24px;
  @include desktop {
    display: none;
  }
}

i {
  font-size: 24px;
}

.header__logo {
  align-items: center;
}

.logo {
  width: 213px;
  height: 96px;
}

.hero__content {
  height: 80%;
  width: 100%;
}

.hero-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding-left: 147px;
    justify-content: center;
    align-items: flex-start;

    width: 600px;
  }
  @include desktop {
    padding-left: 280px;
  }
}

.hero__title {
  @include text($f-size-3, $c-text-d, $f-weight-2);

  @include tablet {
    @include text($f-size-1, $c-text-d, $f-weight-2);
    width: 16ch;
    text-align: left;
  }
}

.hero__btn {
  width: 176px;
  height: 48px;
  background-color: $c-bg-d;
  gap: 10px;
  margin: 30px 0px;
  padding: 12px 24px;
  text-decoration: none;
  @include text($f-size-5, $c-text-l, $f-weight-2);
  text-transform: capitalize;
}

.header__nav {
  display: none;

  @include desktop {
    display: inline;
  }
}

.header__nav--menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.header__nav--text {
  @include text($f-size-5, $c-text-d, $f-weight-2);
  text-decoration: none;
  padding: 0px 10px;
}
