header {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: url("../../assets/images/header.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.container_header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 19px;
  @include tablet {
    padding-top: 39px;
  }
}

.header_menu {
  position: fixed;
  left: 33px;
  @include tablet {
    left: 82px;
  }
  @include desktop {
    left: 270px;
  }
}

.header_menu-b {
  color: $c-text-d;
  @include desktop {
    display: none;
  }
}
.icon-b {
  font-size: 24px;
}

.header_nav {
  display: none;
  @include desktop {
    display: inline;
  }
}

.header_nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.header_nav-text {
  @include text($f-size-5, $c-text-d, $f-weight-2);
  text-decoration: none;
  text-transform: capitalize;
  padding: 0px 10px;
}

.header_logo {
  align-items: center;
}
.logo {
  width: 213px;
  height: 96px;
}

.container_hero {
  height: 80%;
  width: 100%;
}

.hero-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    padding-left: 147px;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
  }
  @include desktop {
    padding-left: 280px;
  }
}
.hero-title {
  @include text($f-size-3, $c-text-d, $f-weight-2);
  @include tablet {
    @include text($f-size-1, $c-text-d, $f-weight-2);
    width: 16ch;
    text-align: left;
  }
}
