.section2 {
  background-color: $c-bg-m;
}

.send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 51px;

  @include desktop {
    padding-top: 61px;
    padding-bottom: 78px;
  }
}

.send__icon {
  width: 120px;
}

.send__title {
  @include text($f-size-3, $c-text-l, $f-weight-2);
}
.send__text {
  @include text($f-size-6, $c-text-l, $f-weight-1);
}

.send__btn {
  width: 176px;
  height: 48px;
  background-color: $c-bg-m;
  gap: 10px;
  margin: 12px 0px;
  padding: 12px 24px;

  @include text($f-size-5, $c-text-l, $f-weight-2);
}
