.main {
  width: 100%;
  background-color: $c-bg-l;
}

.s1-benefits {
  margin: 0px 45px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  justify-items: center;
}

.benefits__title {
  @include text($f-size-3, $c-text-d, $f-weight-2);
  padding-top: 41px;
}
.capital {
  text-transform: uppercase;
}
